doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;800&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/general.css')
  link(rel='stylesheet' href='css/styles.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/responsive.css')
  title Memo
header.header
  nav.nav
    ul.nav-dad
      .logo-box
        a.nav-link(href='#')
          li.nav-child LOGO
      .nav-links
        a.nav-link(href='#')
          li.nav-child New note
        a.nav-link(href='#')
          li.nav-child Your Notes
        a.nav-link(href='#')
          li.nav-child Sign in
        a.nav-link(href='#')
          li.nav-child Sign up
section.body
  form
    .text-area
      textarea.text-area-child(name='memo' type='text')
  form(method="post" action = "/login")
    .login 
      input.userName(name='userName' type='text')
      input.password(name='password' type='password')
      button.sub(type='submit')
footer.footer
  | &copy; 
  a.footer-link(href='') Sushank
  | ,
  a.footer-link(href='') Hardik
  | ,
  a.footer-link(href='') Paramayu
  span.footer-date 2023
// DON'T TOUCH
script(src='js/app.js')
script(src='js/index.js')
