* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body  {
  font-size: 10px;
  font-family: "Rubik", sans-serif, serif;
}

li {
  list-style-type: none;
}

a:hover,a:visited, a:link {
  text-decoration: none;
}