.nav-dad{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  gap: 2rem;
}
.text-area{
  text-align: center;
}
.text-area-child{
  width:18rem;
  height:20rem;
  border-radius: 10%;
  padding: 1rem;
}